/* Navbar CSS */
.navbar-brand {
    background-color: #bda0f1;
    color: #ffffff;
    height: 30px;
    font-size: 12pt;
    text-decoration: none;
}

.navbar {
    position: relative;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    background-color: #bda0f1;
    color: white;
}

#aboutBtn {
    border-right: 1px solid #ffffff;
    color: #ffffff;
}

#portfolioBtn {
    border-right: 1px solid #ffffff;
    color: white;
}

#techSkillsBtn {
    border-right: 1px solid #ffffff;
    color: white;
}

#contactBtn {
    color: white;
}

.custom-border {
    border-bottom: 5px solid rgb(217, 188, 250);
}

/* #98C0FC */